.notfound {
    position: center;
    height: 100%;
}

.container {
    max-width: 710px;
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    line-height: 1.4;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    a {
      font-family: 'Rubik', sans-serif;
      display: inline-block;
      font-weight: 700;
      border-radius: 15px;
      text-decoration: none;
      color: purple;
    }
